apiVersion: apps/v1
kind: Deployment
metadata:
  name: freepbx
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pbx-app
  template:
    metadata:
      labels:
        app: pbx-app
    spec:
#      securityContext:
#        sysctls:
#        # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
#          - name: net.ipv4.ping_group_range
#            value: "65532 65532"
      containers:
        - image: tiredofit/freepbx:5.2.0
          name: freepbx
          hostNetwork: true
          ports:
            - containerPort: 8081
              name: http
              protocol: TCP
            - containerPort: 5060
              name: sip
              protocol: UDP
            - containerPort: 5060
              name: sip-tcp
              protocol: TCP
            - containerPort: 18000
              name: rtp-start
              protocol: UDP
            - containerPort: 20000
              name: rtp-end
              protocol: UDP
          env:
            # Defines an environment variable
            - name: TZ
              value: "Asia/Taipei"
            - name: HTTP_PORT
              value: "8081"
            - name: RTP_START
              value: "18000"
            - name: RTP_FINISH
              value: "20000"
            - name: LOG_WITHOUT_NEWLINE
              value: "true"
            - name: LOG_IGNORE_PATH
              value: "/healthz"
            - name: PROMETHEUS_ENABLED
              value: "true"
            - name: DB_HOST
              value: "my-mariadb.default.svc.cluster.local"
            - name: DB_USER
              value: "asterisk"
            - name: DB_PASS
              value: "asteriskpass"
          PersistentVolumeClaims:
            - claimName: freepbx-nfs
              mountPath: /config

---
apiVersion: v1
kind: Service
metadata:
  name: pbx-svc
  namespace: default
  labels:
    service: pbx-svc
spec:
  ports:
    - name: http
      port: 3000
      targetPort: 8081
    - name: sip-udp
      port: 5060
      targetPort: 5060
    - name: sip-tcp
      port: 5060
      targetPort: 5060
    - name: rtp-start
      port: 18000
      targetPort: 18000
    - name: rtp-end
      port: 20000
      targetPort: 20000
  selector:
    app: pbx-app