---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: freepbx
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pbx-app
  template:
    metadata:
      labels:
        app: pbx-app
    spec:
      resources:
        limits:
          cpu: "1"
          memory: "1Gi"
        requests:
          cpu: "1"
          memory: "500Mi"
# What this does:
# 1. InitContainer starts before the main container (handled by Kubernetes)
# 2. until allows us to loop forever, until all the chained commands run successfully
# 3. nc -vz -w 2 <service> <port> runs netcat (nc) with a 2 second timeout (-w 2), verbose output (-v), and listens for an open socket only, then disconnects (-z).
# 4. If the netcat connection to postgres is successful, then we continue down the command chain, attempting to connect to minio. All the echo commands are purely for log transparency and can be removed.
# 5. both connections are successful, the InitContainer exits and kubernetes will start the main container (handled by Kubernetes).
      initContainers:
        - name: wait-for-services
          image: busybox
          command: ["/bin/sh","-c"]
          args: ["until echo 'Waiting for mariadb...' && nc -vz -w 2 10.9.1.2 3306 ; do echo 'Looping forever...'; sleep 2; done;"]
      securityContext:
        runAsUser: 0 # Explicitly sets the user ID to root (0)
        runAsGroup: 0 # Explicitly sets the group ID to root (0)
        runAsNonRoot: false # Disables the non-root user enforcement
      hostNetwork: true
      containers:
        - image: tiredofit/freepbx:latest
          name: freepbx
          ports:
            - containerPort: 8081
              name: http
              protocol: TCP
            - containerPort: 5060
              name: sip
              protocol: UDP
            - containerPort: 18000
              protocol: UDP
            - containerPort: 18001
              protocol: UDP
            - containerPort: 18002
              protocol: UDP
            - containerPort: 18003
              protocol: UDP
            - containerPort: 18004
              protocol: UDP
#            - containerPort: 18000
#              name: rtp-start
#              protocol: UDP
#            - containerPort: 18010
#              name: rtp-end
#              protocol: UDP
          env:
            # Defines an environment variable
            - name: TZ
              value: "Asia/Taipei"
            - name: HTTP_PORT
              value: "8081"
            - name: SIP_PORT
              value: "5060"
            - name: RTP_START
              value: "18000"
            - name: RTP_FINISH
              value: "18004"
            - name: LOG_WITHOUT_NEWLINE
              value: "true"
            - name: DB_EMBEDDED
#              value: "true"
              value: "false"
            - name: DB_HOST
#              valueFrom:
#                fieldRef:
#                  fieldPath: status.podIP
#              value: "localhost"
              value: "10.9.1.2"
#              value: "my-mariadb.default.svc.cluster.local"
            - name: DB_NAME
              value: "asterisk"
            - name: DB_USER
              value: "asterisk"
            - name: DB_PASS
              value: "asteriskpass"
          volumeMounts:
            - name: data-volume
              mountPath: /data
            - name: html-volume
              mountPath: /var/www/html
#          resources:
#            requests:
#              memory: "64Mi"
#              cpu: "500m"
#            limits:
#              memory: "128Mi"
#              cpu: "1500m"
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: freepbx-data-nfs
        - name: html-volume
          persistentVolumeClaim:
            claimName: freepbx-html-nfs

---
apiVersion: v1
kind: Service
metadata:
  name: pbx-svc
  namespace: default
  labels:
    service: pbx-svc
spec:
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 8081
    - name: sip-udp
      protocol: UDP
      port: 5060
      targetPort: 5060
    - name: rtp-udp-0
      protocol: UDP
      port: 18000
      targetPort: 18000
    - name: rtp-udp-1
      protocol: UDP
      port: 18001
      targetPort: 18001
    - name: rtp-udp-2
      protocol: UDP
      port: 18002
      targetPort: 18002
    - name: rtp-udp-3
      protocol: UDP
      port: 18003
      targetPort: 18003
    - name: rtp-udp-4
      protocol: UDP
      port: 18004
      targetPort: 18004
#    - name: rtp-end
#      protocol: UDP
#      port: 20000
#      targetPort: 20000
  selector:
    app: pbx-app