apiVersion: apps/v1
kind: Deployment
metadata:
  name: freepbx
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      pod: freepbx
  template:
    metadata:
      labels:
        pod: freepbx
    spec:
#      securityContext:
#        sysctls:
#        # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
#          - name: net.ipv4.ping_group_range
#            value: "65532 65532"
      containers:
        - image: tiredofit/freepbx:5.2.0
          name: freepbx
          hostNetwork: true
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
            - containerPort: 5060
              name: sip
              protocol: UDP
            - containerPort: 5060
              name: sip-tcp
              protocol: TCP
            - containerPort: 18000
              name: rtp-start
              protocol: UDP
            - containerPort: 20000
              name: rtp-end
              protocol: UDP
          env:
            # Defines an environment variable
            - name: TZ
              value: "Asia/Taipei"
            - name: HTTP_PORT
              value: "80"
            - name: RTP_START
              value: "18000"
            - name: RTP_FINISH
              value: "20000"
            - name: LOG_WITHOUT_NEWLINE
              value: "true"
            - name: LOG_IGNORE_PATH
              value: "/healthz"
            - name: PROMETHEUS_ENABLED
              value: "true"
            - name: DB_HOST
              value: "my-mariadb.default.svc.cluster.local"
            - name: DB_USER
              value: "asterisk"
            - name: DB_PASS
              value: "asteriskpass"
          PersistentVolumeClaims:
            - claimName: freepbx-nfs
              mountPath: /config

#          command:



#            TZ: "Asia/Taipei"
#            HTTP_PORT: &port 80
#            RTP_START: 18000
#            RTP_FINISH: 20000
#            LOG_WITHOUT_NEWLINE: true
#            LOG_IGNORE_PATH: /healthz
#            PROMETHEUS_ENABLED: true
#            DB_HOST: "my-mariadb.default.svc.cluster.local"
#            DB_USER: "asterisk"
#            DB_PASS: "asteriskpass"
#          command:
            # Configures tunnel run parameters
#            - cloudflared
#            - tunnel
#            - --no-autoupdate
#            - --loglevel
#            - info
#            - --metrics
#            - 0.0.0.0:2000
#            - run
#          livenessProbe:
#            httpGet:
              # Cloudflared has a /ready endpoint which returns 200 if and only if
              # it has an active connection to Cloudflare's network.
#              path: /ready
#              port: 2000
#            failureThreshold: 1
#            initialDelaySeconds: 10
#            periodSeconds: 10