---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freepbx
  namespace: default
spec:
  interval: 15m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: freepbx
    namespace: default
  values:
    replicaCount: 1
    env:
      TZ: "Asia/Taipei"
      HTTP_PORT: &port 80
      LOG_WITHOUT_NEWLINE: true
      LOG_IGNORE_PATH: /healthz
      PROMETHEUS_ENABLED: true
      DB_HOST: "my-mariadb.default.svc.cluster.local"
      DB_USER: "asterisk"
      DB_PASS: "asteriskpass"
    persistence:
      enabled: true
      type: pvc
      existingClaim: "freepbx-nfs"
