---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: [{{ .Release.Name }}]
spec:
  hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - name: {{ .Release.Name }}
          namespace: default
          port: 8581
      matches:
        - path:
            type: PathPrefix
            value: /
