---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: freepbx
  namespace: default
spec:
  hostnames: ["pbx.${SECRET_DOMAIN}"]
  parentRefs:
    - name: envoy-internal
      namespace: network
      sectionName: https
  rules:
    - backendRefs:
        - kind: Service
          name: pbx-svc
          namespace: default
          port: 3000
      matches:
        - path:
            type: PathPrefix
            value: /
