---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: UDPRoute
metadata:
  name: freepbx
spec:
  parentRefs:
    - name: udp-gateway
      namespace: default
      sectionName: pjsip-udp
  rules:
    - backendRefs:
        - name: freepbx
          namespace: default
          port: 5060
