---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: UDPRoute
metadata:
  name: freepbx
spec:
  parentRefs:
    - name: tcp-gateway
      namespace: default
      sectionName: pjsip-udp
  rules:
    - backendRefs:
        - kind: Service
          name: pbx-svc
          namespace: default
          port: 5060
