---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-tunnel-lan
spec:
#  interval: 1h
#  replicas: 2
#  securityContext:
#    sysctls:
    # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
#      - name: net.ipv4.ping_group_range
#        value: "65532 65532"
  chartRef:
    kind: OCIRepository
    name: cloudflare-tunnel-lan
    namespace: network
  values:
    env:
      # Defines an environment variable for the tunnel token.
      - name: TUNNEL_TOKEN
        valueFrom:
          secretKeyRef:
            name: tunnel-default-lan-token
            key: token
    command:
      # Configures tunnel run parameters
      - cloudflared
      - tunnel
      - --no-autoupdate
      - --loglevel
      - info
      - --metrics
      - 0.0.0.0:2000
      - run
    livenessProbe:
      httpGet:
        # Cloudflared has a /ready endpoint which returns 200 if and only if
        # it has an active connection to Cloudflare's network.
        path: /ready
        port: 2000
      failureThreshold: 1
      initialDelaySeconds: 10
      periodSeconds: 10

