---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homebridge
  namespace: default
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: homebridge
      version: '5.3.2'
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: default
      interval: 5m
  values:
    replicaCount: 1
    image.tag: latest
    env.TZ: "Asia/Taipei"
    hostNetwork: true
    persistence.config.enabled: true
    persistence.config.storageClass: "-"
    persistence.config.existingClaim: "nfs"
    persistence.config.subPath: "homebridge_cfg"
  service:
    app:
      ports:
        http:
          port: &port 8581
  serviceMonitor:
    app:
      endpoints:
        - port: http
  route:
    app:
      hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
      parentRefs:
        - name: envoy-external
          namespace: network
          sectionName: https
      rules:
        - backendRefs:
            - identifier: app
              port: *port

