---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mqtt
spec:
  chartRef:
    kind: OCIRepository
    name: mqtt
  interval: 1h
  values:
    controllers:
      mqtt:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/eclipse-mosquitto/mosquitto
              tag: v2.0.22
            env:
              TZ: "Asia/Taipei"
              LOG_WITHOUT_NEWLINE: true
              LOG_IGNORE_PATH: /healthz
              PROMETHEUS_ENABLED: true
            ports:
              - name: mqtt
                containerPort: &port 1883
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
    service:
      app:
        ports:
          http:
            port: *port
            protocol: TCP
#    serviceMonitor:
#      app:
#        endpoints:
#          - port: http
    route:
      app:
#        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
#        parentRefs:
#          - name: envoy-external
#            namespace: network
#            sectionName: https
#        rules:
#          - backendRefs:
#              - identifier: app
#                port: *port
        parentRefs:
          - name: tcp-gateway
            namespace: default
            sectionName: mqtt-tcp
        rules:
          - backendRefs:
              - identifier: app
                port: *port
#              - name: mqtt-mosquitto
#                namespace: default
#                port: 1883
