---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mqtt
  namespace: default
spec:
  postRenderers:
    - kustomize:
        patchesJson6902:
          - target:
              kind: Service
#              name: old-service
            patch:
              - op: replace
                path: /metadata/name
                value: "{{ .Release.Name }}-tcproute" #"new-service"
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: mosquitto
#      version: '5.2.0'
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home
        namespace: default
      interval: 5m
  values:
    replicaCount: 1
#    image:
#      tag: "2022-11-14"
    env:
      TZ: "Asia/Taipei"
#    hostNetwork: true
    persistence:
#      config:
#        enabled: true
#        type: pvc
#        existingClaim: "mqtt-nfs"
#        subPath: "config"
      data:
        enabled: true
        type: pvc
        existingClaim: "mqtt-nfs"
#        subPath: "data"
#        storageClass: ds2-homedirect
#        subPath: "k8s_hb_mount"
