---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: mqtt
spec:
  parentRefs:
    - name: tcp-gateway
      namespace: default
      sectionName: mqtt-tcp
  rules:
    - backendRefs:
        - name: mqtt
          namespace: default
          port: 1883
